<div class="center col-lg-12 exam-question">
  <div class="view-question">
    <div id = "question-form-<%=@exam.id%>" class = "create-question"></div>
    <ul class = "question-ul">
      <% @questions.each do |question|%>
        <div class = "form-question">
          <li class = "question-li">
            <span>
              <%= question.content%>
              <div id = "question-form-edit-<%= question.id%>" class = "edit-question"%></div>
            </span>
          </li>
          <div class="dropdown func-question">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">...</button>
            <ul class="dropdown-menu">
              <li><%= link_to t(".btn_edit"), edit_admin_exam_question_path(exam_id: @exam.id, id: question.id), remote: true %></li>
              <li><%= link_to t(".btn_delete"), admin_exam_question_path(exam_id: @exam.id, id: question.id), method: :delete, data: { confirm: t(".confirm") } %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
