<%= render partial: "header_show" %>
<div class="center col-lg-12 exam-question">
  <div class="hidden value-time"><%= @exam.time_limit %></div>
  <div class="timer"></div>
  <% if logged_in? %>
    <div class="view-question">
      <ul class="question-ul">
        <% @questions.each do |question|%>
          <div class="form-question">
            <li class="question-li">
              <b><%= question.content %></b>
              <ul class="answer-ul">
                <% @answers.each do |answer| %>
                  <% if answer.question_id == question.id%>
                    <li class="answer-user-li">
                      <input type="radio" id="<%= answer.content%>" name="<%= question.id %>" class= "radio-btn">
                      <label for="<%= answer.content%>"><%= answer.content %></label><br>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </div>
        <% end %>
      </ul>
      <%= button_tag t(".btn_submit"), class: "btn btn-primary btn-finish-exam", type: "button", data: {id: "#{@exam.id}"}%>
    </div>
  <% else %>
    <p>
      <%= t(".login_name") %>
      <%= link_to t(".login_click"), login_path %>
    </p>
  <% end %>
</div>
